@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@font-face{
    @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
    font-family: 'Bangers', cursive;
}

*{
    font-family: 'Bangers', cursive;
    color: #c1c7ca;
    background-color: #082032;
}

#alert{
    position: fixed;
    top: 19px;
    border-radius: 5px;
    z-index: 99;
    width: max-content;
    text-align: center;
    padding: 5px;
    float: right;
    right: 205px;
    transition-duration: 800ms;
}

.success{
    color: #c1c7ca;
    background-color: #334756;
}

.failure{
    color: #c1c7ca;
    background-color: #334756;
}

body, html{
    margin: 0;
}

body{
    position: relative;
    height: 100%;
}

header{
    position: fixed;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 65px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 1px #FF4C29;
    z-index: 99;
}

header *{
    font-size: 1.6rem;
    text-decoration: none;
}

.favourite-router *{
    border-radius: 10px;
}

.favourite-router *:hover{
    color: #83909b;
}

.app-name{
    padding-left: 45px;
}

.app-name a{
    text-decoration: none;
    color: #FF4C29;
}

header button{
    width: 100%;
    padding: 5px;
    border: 1px solid #FF4C29;
    border-radius: 10px;
    margin-right: 30px;
}

header button a{
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 1vh;
}

#top-bar{
    position: fixed;
    top: 67px;
    left: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 0px 0px 1px #FF4C29;
    z-index: 10;
}

#top-bar *{
    padding: 21px 0px 20px 0px;
    text-decoration: none;
}

#top-bar *:hover{
    color: #fd7155;
}

.anchor{
    display: block;
    height: 150px; /*same height as header*/
    margin-top: -150px; /*same height as header*/
    visibility: hidden;
}

#data-container{
    position: relative;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
}

#image{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
    padding: 100px;
    align-items: center;
}

#fav_btn{
    margin-top: 25px;
    box-shadow: 0px 0px 0px 0px #FF4C29;
    border-radius: 100%;
}

#detail-container{
    position: relative;
    width: 100%;
}

.detail-item{
    padding: 25px;
    width: 85%;
}

/* Stats */
#stats-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#stat-names{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 15px;
}

#stat-names span{
    display: block;
    padding: 5px;
    padding-left: 5px;
}

#stat-bars{
    width: 90%;
    font-size: .9rem;
}

.bar-container{
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    padding: 3px 0px 2px 0px;
    margin-top: 3px;
}

.bar{
    background-color: #FF4C29;
    border-radius: 5px;
    padding: 2px 0px 2px 0px;
    padding-left: 5px;
}
