@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@font-face{
    @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
    font-family: 'Bangers', cursive;
}

*{
    font-family: 'Bangers', cursive;
    color: #c1c7ca;
    background-color: #082032;
}

#alert{
    position: fixed;
    top: 19px;
    border-radius: 5px;
    z-index: 99;
    width: max-content;
    text-align: center;
    padding: 5px;
    float: right;
    right: 205px;
    transition-duration: 800ms;
}

.success{
    color: #c1c7ca;
    background-color: #334756;
}

.failure{
    color: #c1c7ca;
    background-color: #334756;
}

body, html{
    margin: 0;
}

body{
    position: relative;
    height: 100%;
}

header{
    position: fixed;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 65px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 1px #FF4C29;
    z-index: 99;
}

header *{
    font-size: 1.6rem;
    text-decoration: none;
}

.favourite-router *{
    border-radius: 10px;
}

.favourite-router *:hover{
    color: #637685;
}

.app-name{
    padding-left: 45px;
}

.app-name a{
    text-decoration: none;
    color: #FF4C29;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main result body */
#result-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 172, 172);
    top: 50px;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    height: 100%;
}

/* Cards */
.card-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 2px solid #FF4C29;
    border-radius: 20px;
}

.card-img-container img{
    height: 175px;
    width: 175px;
    border-radius: 30px;
}

.card-name{
    padding: 3px;
    padding-top: 5px;
    font-size: 1.4rem;
}

.card-name:hover{
    color: #fd7155;
    cursor: pointer;
}

/* Stats */
#stats-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#stat-names{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 15px;
}

#stat-names span{
    display: block;
    padding: 5px;
    padding-left: 55px;
}

#stat-bars{
    width: 90%;
    font-size: .9rem;
}

.bar-container{
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    padding: 3px 0px 2px 0px;
    margin-top: 3px;
}

.bar{
    background-color: #FF4C29;
    border-radius: 5px;
    padding: 2px 0px 2px 0px;
    padding-left: 5px;
}
